<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image upload</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/scripts.js" defer></script>

</head>
<body class="bg-primary">
    <div class="container py-5">

        <!-- For demo purpose -->
        <header class="text-white text-center">
            <h1 class="display-4">Dashboard</h1>
        </header>        

        <div class="container col-lg-6 mx-auto">
            <% console.log(Object.keys(data)) %> 
            <%  Object.keys(data).forEach(function (key) { %>
            <div class="row mt-3 bg-light rounded d-flex flex-wrap align-items-center">
              <div class="col-sm ">
                <img src="/<%= key %>/image" alt="image" class="img-thumbnail m-20 w-50 h-75 " style="margin: 5px;">
              </div>
              <div class="col-sm">
                <%= data[key].question %>
              </div>
              <div class="col-sm">
                <%= data[key].answer %>
              </div>
            </div>
            <% }) %>
          </div>
    </div>
</body>
</html>